
:root {
  --palepink: palevioletred;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  background-color: #f0cc90;
  margin: 0;
}
header {
  padding: 1.5rem;
  font-family: Garamond, Georgia, 'Times New Roman', serif;
  background-color: #B4F8C8;
  color: var(--palepink);
  display: flex;
				justify-content: space-between;
				align-items: center;

}

header nav {
  padding-top: 1.5rem;
  font-family: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* this is to make the navigation links appear in-line next to each other*/

ul {
  list-style-type: none;
  display: inline-flex;
}

ul li a {
  margin: 0.5em;
  text-decoration: none;
  color:var(--palepink);
}
/*style for the page sections*/

.page-section{
  padding: 2rem;
  margin: 2rem;
}
/*style 'About Me' content, styled as flexbox to make it reactive to window size*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
#about img {
  max-width: 60%;  
}
#aboutmetext{
  flex: 3;
  margin: 7vw;
}

/*style the headings*/
h4 {
  color: rgb(110, 211, 177);
  grid-area: workhead;
}
h2 {
  color:var(--palepink);
  font-size: 2rem;
}
/*mobile-first approach, make the work section a flexbox and set it as a column*/
#work {
  display: flex;
  flex-direction: column;
}
div {
  width: fit-content;
}
/*make the divs inside the work section flexboxes to align the content to the bottom of them and control the growth of the herowork so it will appear larger than other divs*/

/*style the individual divs, using a padding formula by Matthew James Taylor*/
/*divs styled so that the opacity is low initially, later a hover affect is applied*/
#herowork {
  flex: 4;
  grid-area: herowork;
  padding: calc(5rem + 1.5625vw);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/radianthall.jpg");
  background-size: cover;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0.7;
}

#prework {
  flex: 1;
 grid-area: prework;
  padding: calc(5rem + 1.5625vw);
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/clay.jpg");
 min-height: 40vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 opacity: 0.7;
}

#perfume{
  flex: 1;
grid-area: perfume;
  padding: calc(5rem + 1.5625vw);
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/matt-briney-0tfz7ZoXaWc-unsplash.jpg");
min-height: 40vh;
 max-height: 50vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 opacity: 0.7;
}
#bookshelf {
  flex: 1;
grid-area: bookshelf;
padding: calc(5rem + 1.5625vw);
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/shelves.jpg");
min-height: 40vh;
 max-height: 50vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 opacity: 0.7;
}
#cocktails{
  flex: 1;
grid-area: cocktails;
padding: calc(5rem + 1.5625vw);
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/cocktails.jpg"); 
min-height: 40vh;
max-height: 50vh;
display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0.7;
}

/*style the contact section*/
#contact{
  font-family: Garamond, Georgia, serif;
  display: flex;
			justify-content: space-between;
			align-items: center;
}
/*add the hover effect*/

#herowork:hover{
  opacity: 1;
  
  }
#prework:hover{
opacity: 1;

}
#perfume:hover{
  opacity: 1;
  
  }
#bookshelf:hover{
opacity: 1;
    
    }
    #cocktails:hover{
  opacity: 1;
 
      }

/* media query for larger screens, grid layout for work section*/
@media screen and (min-width: 700px) {
  #about {
    flex-direction: row;

  }
  #about img {
    max-width: 20%;
    max-height: 20%;
    flex: 1;
  }
#herowork {
  min-height: 60vh;
}
 #perfume #bookshelf #cocktails {
  min-height: 40vh;
 max-height: 50vh;
}
  #work {
    display: grid;
    margin: 0px 5%;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "workhead workhead workhead"
    "herowork herowork prework"
    "perfume bookshelf cocktails";
  }
}